/*
Theme Name: FamousTheme
Description: FamousTheme, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */
/* Created by Artisteer v3.0.0.45570 */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

.art-postcontent a
{
  text-decoration: none;
  color: #2F617F;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #2F617F;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  color: #2F617F;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  text-decoration: underline;
  color: #3E81A8;
}

.art-postcontent h1
{
   color: #2F617F;
margin: 21px 0;    
}

.art-blockcontent h1
{
margin: 21px 0; 
}

.art-postcontent h2
{
   color: #3E81A8;
margin: 19px 0;
   font-size: 24px;    
}

.art-blockcontent h2
{
margin: 19px 0;
   font-size: 24px; 
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 24px; 
}

.art-postcontent h3
{
   color: #41576C;
margin: 19px 0;
   font-size: 19px;    
}

.art-blockcontent h3
{
margin: 19px 0;
   font-size: 19px; 
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 19px; 
}

.art-postcontent h4
{
   color: #3D5266;
margin: 20px 0;
   font-size: 16px;    
}

.art-blockcontent h4
{
margin: 20px 0;
   font-size: 16px; 
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 16px; 
}

.art-postcontent h5
{
   color: #3D5266;
margin: 26px 0;
   font-size: 13px;    
}

.art-blockcontent h5
{
margin: 26px 0;
   font-size: 13px; 
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 13px; 
}

.art-postcontent h6
{
   color: #56738F;
margin: 35px 0;
   font-size: 11px;    
}

.art-blockcontent h6
{
margin: 35px 0;
   font-size: 11px; 
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 11px; 
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html 
{
    height:100%;
}

#art-main
{
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  overflow:visible;
}

body
{
  padding: 0; 
  margin:0;
  color: #0F1419;
  height:100%;
  min-height:100%;
  background-color: #B2C2D1;
  min-width: 700px;
}

.cleared
{
  display:block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height:0;
  overflow:hidden;
}

.reset-box
{
  overflow:hidden;
  display:table; 
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* Image Assist module support */
body.img_assist
{
	background-color: #B2C2D1 !important;
	color: #0F1419;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-height: 15px;
  margin-top: 47px;
  margin-bottom: -3px;
  cursor:auto;
  width: 80%;
  min-width: 700px;
  max-width: 1536px;
}

.art-sheet-body
{
  position: relative;
  padding: 4px;
    padding-top:4px;
    padding-bottom:4px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 26px;
  height: 26px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #F9FAFB;
}

#art-page-background-top-texture, #art-page-background-middle-texture, #art-page-background-glare
{
  min-width: 80%;
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
    margin: 0 auto;
  position: relative;
  width:100%;
  height: 125px;
  margin-top: 0;
  margin-bottom: 0;
}

div.art-header-clip
{
  position: absolute;
  width:100%;
  left:0;
  overflow:hidden;
  height:125px;
}

div.art-header-center
{
	position: relative;
	width: 1536px;
	left:50%;
}

div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 1536px;
  height: 125px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  top: 27px;
  left: 0;
  margin-left: 12px;
}

h1.art-logo-name
{
  display: block;
  text-align: left;
  font-size: 38px;
  padding: 0;
  margin: 0;
  color: #E1EDF4 !important;
}
h1.art-logo-name a, 
h1.art-logo-name a:link, 
h1.art-logo-name a:visited, 
h1.art-logo-name a:hover
{
  font-size: 38px;
  padding: 0;
  margin: 0;
  color: #E1EDF4 !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
  font-size: 19px;
  padding: 0;
  margin: 0;
  color: #D6E6F0 !important;
}
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-size: 19px;
  padding: 0;
  margin: 0;
  color: #D6E6F0 !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
    outline: none;
}

.art-hmenu, .art-hmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-hmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-hmenu li li
{
  float: none;
}

.art-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
  min-height: 0;
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-hmenu:after, .art-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-hmenu{
  min-height: 0;
  position:relative;
  padding: 6px 2px 0 2px;
  float: left;
}

.art-hmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

/* menu structure */

.art-nav
{
   position: relative;
  margin:0 auto;
  min-height: 32px;
  z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.art-nav-outer
{
    position:absolute;
    width:100%;
}

.art-nav-l, .art-nav-r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.art-nav-l
{
  left: 0;
  right: 0;
}

.art-nav-r
{
  right: 0;
  width: 1536px;
  clip: rect(auto, auto, auto, 1536px);
}

.art-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: 32px;
  background-position: center;
}

.art-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: 32px;
  background-position: center;
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 26px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.art-hmenu ul li
{
    margin:0;
    clear: both;
}

.art-hmenu a .r, .art-hmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 88px;
  background-image: url('images/menuitem.png');
}

.art-hmenu a .l
{
  left: 0;
  right: 11px;
}

.art-hmenu a .r
{
  width: 422px;
  right: 0;
  clip: rect(auto, auto, auto, 411px);
}

.art-hmenu a .t, .art-hmenu ul a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
  text-align: left;
  text-decoration: none;
}

.art-hmenu a .t
{
  color: #3F5469;
  padding: 0 2px;
  margin: 0 11px;
  line-height: 26px;
  text-align: center;
}

.art-hmenu a:hover .l, .art-hmenu a:hover .r
{
  top: -31px;
}

.art-hmenu li:hover>a .l, .art-hmenu li:hover>a .r
{
  top: -31px;
}

.art-hmenu li:hover a .l, .art-hmenu li:hover a .r
{
  top: -31px;
}
.art-hmenu a:hover .t
{
  color: #7F5305;
}

.art-hmenu li:hover a .t
{
  color: #7F5305;
}

.art-hmenu li:hover>a .t
{
  color: #7F5305;
}

.art-hmenu a.active .l, .art-hmenu a.active .r
{
  top: -62px;
}

.art-hmenu a.active .t
{
  color: #C84504;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-hmenu .art-hmenu-li-separator
{
  display: block;
  width: 8px;
  height:26px;
}
/* end MenuSeparator */

/* begin Layout */
.art-content-layout
{
  display: table;
  position:relative;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin:0;
  padding:0;
}

.art-content-layout .art-content-layout{margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 15px;
}

.art-vmenublock-body
{
  position: relative;
  padding: 0;
}

#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 15px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  margin-bottom: 0;
  position: relative;
  height: 26px;
}

.art-vmenublockheader h3.t
{
  position: relative;
  height: 26px;
  color: #6382A1;
  font-size: 14px;
  margin:0;
  padding: 0 10px 0 5px;
  white-space: nowrap;
  line-height: 26px;
}

.art-vmenublockheader h3.t a,
.art-vmenublockheader h3.t a:link,
.art-vmenublockheader h3.t a:visited, 
.art-vmenublockheader h3.t a:hover
{
  color: #6382A1;
  font-size: 14px;
}

.art-vmenublockheader .t h2.subject
{
  height: 26px;
  color: #6382A1;
  font-size: 14px;
  margin:0;
  white-space: nowrap;
  line-height: 26px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.art-vmenu
{
  margin-top: 0; 
  margin-bottom: 0;
}

/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 100px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 4px;
}

ul.art-vmenu a .r
{
  width: 1544px;
  right: 0;
  clip: rect(auto, auto, auto, 1540px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

ul.art-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 30px;
  color: #7691AD;
  padding: 0 11px 0 11px;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -70px;
}

ul.art-vmenu a.active .t
{
  color: #7D2B03;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -35px;
}

ul.art-vmenu a:hover .t
{
  color: #7F5305;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding: 0 0 0 25px;
  line-height: 20px;
  color: #214559;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul li
{
  padding: 0;
}

ul.art-vmenu ul ul li
{
  padding:0;
}

ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 20px;
  color: #214559;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 0 0 0;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
    margin-bottom:2px;
    padding-bottom:0;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding: 0 0 0 50px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding: 0 0 0 75px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding: 0 0 0 100px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding: 0 0 0 125px;
}

ul.art-vmenu ul li a.active
{
  color: #151C23;
  background-position: 25px -50px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -50px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -50px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -50px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -50px;
}

ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #1B242D;
  background-position: 25px -25px;
}

ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -25px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -25px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -25px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  min-width: 15px;
  min-height: 15px;
  margin: 15px;
}

.art-block-body
{
  position: relative;
  padding: 8px;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  position: absolute;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/block_s.png');
}

.art-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-block-tc, .art-block-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/block_h.png');
}

.art-block-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-block-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-block-cr, .art-block-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/block_v.png');
}

.art-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-block-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-block-cc
{
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #E2E8EE;
}

div.art-block img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #B2C2D1;
  border-style: solid;
  margin: 0;
}

#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 15px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 4px;
  position: relative;
  height: 26px;
}

.art-blockheader h3.t
{
  position: relative;
  height: 26px;
  color: #FFFFFF;
  font-size: 14px;
  margin:0;
  padding: 0 11px 0 6px;
  white-space: nowrap;
  line-height: 26px;
}

.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #FFFFFF;
  font-size: 14px;
}

.art-blockheader .l, .art-blockheader .r
{
  position: absolute;
  height: 26px;
  background-image: url('images/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 7px;
}

.art-blockheader .r
{
  width: 1536px;
  right: 0;
  clip: rect(auto, auto, auto, 1529px);
}

.art-blockheader .t h2.subject
{
  height: 26px;
  color: #FFFFFF;
  font-size: 14px;
  margin:0;
  white-space: nowrap;
  line-height: 26px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 9px;
  min-height: 9px;
	width: 100% !important;
}

.art-blockcontent-body
{
  position: relative;
  padding: 6px;
  color: #2A3846;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl, .art-blockcontent-tc, .art-blockcontent-bc,.art-blockcontent-cr, .art-blockcontent-cl
{
  position: absolute;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl
{
  width: 8px;
  height: 8px;
  background-image: url('images/blockcontent_s.png');
}

.art-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 4px, 4px, auto);
}

.art-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 4px, 4px);
}

.art-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(4px, 4px, auto, auto);
}

.art-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(4px, auto, auto, 4px);
}

.art-blockcontent-tc, .art-blockcontent-bc
{
  left: 4px;
  right: 4px;
  height: 8px;
  background-image: url('images/blockcontent_h.png');
}

.art-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 4px, auto);
}

.art-blockcontent-bc
{
  bottom: 0;
  clip: rect(4px, auto, auto, auto);
}

.art-blockcontent-cr, .art-blockcontent-cl
{
  top: 4px;
  bottom: 4px;
  width: 8px;
  background-image: url('images/blockcontent_v.png');
}

.art-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 4px);
}

.art-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 4px, auto, auto);
}

.art-blockcontent-cc
{
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #ECF0F4;
}

.art-blockcontent-body table,
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #2A3846;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-blockcontent-body p
{
  margin: 6px 0;
}

.art-blockcontent-body a, .art-blockcontent-body a:link
{
  color: #2C5C77;
  text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #6C8AA7; 
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #3B7BA0;
  text-decoration: none;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #394D60;
  padding: 0 0 0 12px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}

.art-blockcontent-body .calendar-calendar td a:visited, .art-blockcontent-body .calendar-calendar td a.visited
{
  color: #2C5C77;
}

.art-blockcontent-body .links li
{
  background-image: none;
  display: block;
}

.art-blockcontent-body .calendar-calendar td a:hover
{
  text-decoration: underline;
}

.art-blockcontent-body table td.mini a
{
  font-weight: normal;
}

.art-blockcontent-body table td div.mini-day-on a
{
  text-decoration: underline;
}

.art-blockcontent-body .calendar-calendar td a
{
  text-decoration: none;
}

/* BEGIN Recipe module support */
.recipe-summary .art-blockcontent-body, .recipe-description .art-blockcontent-body,
.recipe-ingredients .art-blockcontent-body, .recipe-instructions .art-blockcontent-body
{
  padding: 0;
}
/* END Recipe module support *//* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #8C3103 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #7F5305 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #FFFFFF !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 106px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 10px;
}

.art-button-wrapper .art-button-r
{
  width: 409px;
  right: 0;
  clip: rect(auto, auto, auto, 399px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -37px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -74px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 0;
}

.art-post-body
{
  position: relative;
  padding: 10px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
  border: solid 0 #B2C2D1;
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #8099B3;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #8099B3;
  width: 95%;
	display: block;
}

/* BEGIN Flatcomments module support */

.comment-folded
{
	margin: 0;
}

#comments .box span.art-button-wrapper
{
	margin: 0;
}

#comments .art-postcontent, #comments .art-postcontent p
{
	text-align: left;
}

/* END Flatcomments module support */
/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #214559;
  margin: 5px 0;
  font-size: 24px;
}

h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 24px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #28536C;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{
  color: #5C7A99;
}

h2.art-postheader a:hover,  h2.art-postheader a.hovered
{
  color: #3E81A8;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #3D5266;
}

.art-postheadericons
{
  padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
  text-decoration: none;
  color: #2F617F;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-style: italic;
  font-weight: normal;
  color: #2F617F;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #3E81A8;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 13px;
  color: #2E3D4C;
  padding: 0 0 0 13px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.mceContentBody ul li, ol ul li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;
}

.theme-selector .operations li, .theme-selector .operations li.first, .theme-selector .operations li.last
{
    padding-left: 13px;
    margin-right: 5px;
}

.theme-selector .operations li, .theme-selector .operations li.first, .theme-selector .operations li.last
{
    margin-right: 5px;
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #1E0A01;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 2px 0 2px 15px;
}

.art-postcontent blockquote
{
   border: solid 0 #FC9764;
  background-color: #FDC9AF;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
  clear:both;
  margin: 10px 10px 10px 50px !important;
  padding: 0 0 0 28px !important;
}

blockquote{
  margin: 10px 10px 10px 50px !important;
  padding: 0 0 0 28px !important;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #3D5266;
}

.art-postfootericons
{
  padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
  text-decoration: none;
  color: #2F617F;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
  color: #2F617F;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
  color: #3E81A8;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer
{
  position: relative;
  margin-top:0;
  margin-bottom:0;
  width: 100%;
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D6DEE6;
}

.art-footer-body
{
    position:relative;
    padding: 10px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:10px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 24px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
  text-align: right;
}

.art-footer-text,
.art-footer-text a,
.art-footer-text a:link,
.art-footer-text a:visited,
.art-footer-text a:hover,
.art-footer-text td, 
.art-footer-text th,
.art-footer-text caption
{
    color: #D6DEE6;
    font-size: 11px;
}

.art-footer-text
{
  min-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

.art-footer-text a,
.art-footer-text a:link
{
  color: #28536C;
  text-decoration: none;
}

.art-footer-text a:visited
{
  color: #374A5C;
}

.art-footer-text a:hover
{
  color: #438CB6;
  text-decoration: underline;
}

div.art-footer img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #B2C2D1;
  border-style: solid;
  margin: 7px;
}/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #2D5E7B;
}

.art-page-footer
{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #304050;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
  width: 200px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */

/* end LayoutCell, content */

/*
** HTML elements
*/

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
body.art-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: #F9FAFB !important;
font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
}
/* END FCKEditor, CKEditor modules support*/

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	display: inline;
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
	margin: 1em 0 0 0.7em;
}

#edit-name, #edit-pass, #edit-mail
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: #F9FAFB !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

.art-postcontent ul.arttabs_primary li, .art-postcontent ul.arttabs_secondary li
{
  background-repeat: no-repeat;
  background-image: none;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

/* BEGIN Contextual links styles in Drupal 7 */

ul.contextual-links li
{
	background-image: none !important;
	padding-left: 4px !important;
}

ul.contextual-links li a
{
	font-family: Arial !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	text-align: left !important;
	text-decoration: none !important;
}

/* END Contextual links styles in Drupal 7*/

/* BEGIN Taxonomy terms Artisteer styles in Drupal 7 */
.art-tags, .art-tags .field, .art-tags .field .field-label,
.art-tags .field .field-items, .art-tags .field .field-items .field-item
{
	display: inline;
}

.art-tags .field-item a:after
{
	content: ', ';
}

.art-tags .field-item:last-child a:after
{
	content: '';
}
/* END Taxonomy terms Artisteer styles in Drupal 7 */

/* BEGIN Action links support in Drupal7 */
.art-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.art-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 center transparent;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #art-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal;
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

